{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <figure class="image is-16by9">
            <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/YE7VzlLtp-4"
              frameborder="0" allowfullscreen></iframe>
          </figure>
          <hr />
          <h2 class="title has-text-grey">
            Big Buck Bunny
          </h2>
          <p class="subtitle has-text-grey-light">
            Big Buck Bunny tells the story of a giant rabbit with a heart bigger than himself. When one sunny day three
            rodents
            rudely harass him, something snaps... and the rabbit ain't no bunny anymore! In the typical cartoon tradition he
            prepares the nasty rodents a comical revenge.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <figure class="image is-16by9">
            <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/Vtie-65eJ3U"
              frameborder="0" allowfullscreen></iframe>
          </figure>
          <hr />
          <h2 class="title has-text-grey">
            AI-Driven Digital Transformation | Ekohe
          </h2>
          <p class="subtitle has-text-grey-light">
            From AI-driven predictive insights to machine learning automation, Ekohe delivers best-in-class, custom digital
            solutions that move your business forward.
          </p>
          <p class="description">
            AI, Machine Learning,Data Science, and Agile Development.ruby on rails agency, custom mobile app development,
            custom
            web
            app development, android app developers, android application developer, android applications development,
            android apps
            development, android software development, app designer, app development cost, apple ios developer, apple app
            developer,
            iphone app developer, create an android app, create android app, creating android apps, create ios app, creating
            iphone
            apps, design mobile website, develop iphone apps, developing apps for android, developing for android,
            developing
            iphone
            apps, how to create an app for android, Ruby on Rails web design, Ruby on Rails consulting, Ruby on Rails
            service,
            Ruby
            on Rails consultant, Ruby on Rails expertise, app developer Shanghai, app developer Paris, app developer
            Vancouver,
            app
            developer Tokyo
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}